# CodeIgniter
website/application/logs/log-*.php
website/application/logs/!index.html
website/application/cache/*
website/application/cache/!index.html
website/vendor

# Vagramt
.vagrant*

# Mac OS X
.DS_Store

# General
/config.php

# Grunt/SASS/Node
.sass-cache
.grunt
node_modules
.lock-wscript

