# CodeIgniter
website/application/logs/log-*.php
website/application/logs/!index.html
website/application/cache/*
website/application/cache/!index.html
website/vendor

# Mac OS X
.DS_Store

# General
/config.php
/.sass-cache
/node_modules
