.login-heading{
  margin-bottom: 75px;
  text-align: center;
}

.signin h2,
.register h2{
  font-size: 18px;
  font-weight: 600;
}

.btn{
  padding: 12px 30px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 16px;
  font-weight: 400;
  @include antialiase(); 
}

 .btn-login{
    background-color: #25aae1;

    &:hover{
      background-color: darken(#25aae1, 10%);
    }
  }

  .btn-register{
    margin-bottom: 20px;
    background-color: #bf1e2e;

    &:hover{
      background-color: darken(#bf1e2e, 10%);
    }
  }

.signin{
  padding-right: 35px;
  border-right: 1px solid #ccc;
}

.register{
  padding-left: 35px;
    
    p{
      max-width: 400px;
    }
}


//Help Page
//===========================


.help-desk-text{
  h2{
    margin-top: 0px;
  }
}

#recaptcha_widget_div{
  margin-bottom: 20px;
  border: 1px solid #CCC;
  border-radius: 4px;
  background-color: #fff;

    .recaptchatable{
      border: none!important;
    }

    input{
      display: block;
      width: 100%;
      height: 34px;
      padding: 6px 12px;
      font-size: 14px;
      line-height: 1.42857;
      color: #555;
      background-color: #FFF;
      background-image: none;
      border: 1px solid #CCC!important;
      border-radius: 4px;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
      transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    }
}



.help-desk-form{
  padding-top: 15px;
  padding-bottom: 15px; 
  background-color: #F7F7F9;
}

.webinar-video{
  max-width: 900px;
  margin: auto;
}



