@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?xfnhby');
	src:url('../fonts/icomoon.eot?#iefixxfnhby') format('embedded-opentype'),
		url('../fonts/icomoon.woff?xfnhby') format('woff'),
		url('../fonts/icomoon.ttf?xfnhby') format('truetype'),
		url('../fonts/icomoon.svg?xfnhby#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-disqus-social:before {
	content: "\e600";
}
