#topics {
	ul {
		list-style: none;
		padding: 0;

		input[type=checkbox] {
			@extend %visuallyhidden;

			&:checked + label, &:hover + label {
				background-color: $secondaryGrayColor;
			}
		}

		li {
			display: inline-block;
			margin-right: 10px;

			label {
				@extend %titillium-regular;
				@include letterspacing(100);
				font-size: 16px;
				color: #FFF;

				padding: 14px 28px;
				cursor: pointer;
				background-color: $primaryGrayColor;
			}
		}
	}
}

#feeds {
	margin-top: 33px;
	width: 587px;

	h3 {
		@extend %titillium-regular;
		@include letterspacing(100);
		font-style: italic;
		font-size: 14px;
		line-height: 18px;
		color: $primaryGrayColor;
	}

	.btn {
		padding: 0;
		height: 50px;
		color: #FFF;
		line-height: 50px;
		font-size: 16px;
		@extend %titillium-regular;
		@include letterspacing(100);
	}

	.btn-default {
		width: 60px;
		background-color: $primaryGrayColor;
		font-size: 19px;

		input[type=checkbox] {
			@extend %visuallyhidden;

			&:checked + label, &:hover + label {
				background-color: $primaryColor;
			}
		}

		label {
			display: block;
			cursor: pointer;
		}
	}

	.btn-playpause {
		margin-left: 11px;
	}

	.btn-warning {
		float: right;
		padding: 0 20px;
	}
}

#stream {
	float: left;
	width: 635px;
	height: (6 * 97px); // 6 interactions
	overflow-y: auto;
	margin-top: 45px;

	> ul {
		display: block;
		width: 587px;
		list-style: none;
		padding: 0;
		border-top: 1px solid $primaryGrayColor;

		> li {
			display: block;
			height: 97px;
			border-bottom: 1px solid $primaryGrayColor;
			padding: 12px 0 12px 9px;

			> img {
				width: 48px;
				height: 48px;
				border-radius: 4px;
				float: left;
				margin-bottom: 25px;
				margin-right: 10px;
			}

			> a {
				display: block;
				color: $primaryColor;
				font-weight: bold;
				font-size: 14px;
			}

			> time {
				float: right;
				font-size: 13px;
				color: $primaryGrayColor;
			}

			> p {
				margin: 0;
				height: 41px;
				font-family: Helvetica, Arial, sans-serif;
				font-size: 14px;
				line-height: 19px;
				@include letterspacing(-10);
				color: #292f33;
			}

			a.expand {
				font-size: 11px;
				float: left;
				font-weight: normal;

				&.disabled {
					color: $primaryGrayColor;
				}
			}

			.actions {
				list-style: none;
				padding: 0;
				display: block;
				float: right;

				li {
					display: inline-block;

					a {
						color: $primaryColor;
						font-size: 12px;
						margin-left: 10px;
					}
				}
			}
		}
	}
}

#filters {
	float: left;
	width: 505px;

	h3 {
		@extend %titillium-semibold;
		@include letterspacing(100);
		font-size: 18px;
		color: $secondaryGrayColor;
	}

	.limit-options {
		list-style: none;
		padding: 0;

		li {
			.circle {
				display: inline-block;
				width: 15px;
				height: 15px;
				background-color: #FFF;
				border: 1px solid $primaryGrayColor;
				border-radius: 50%;
			}

			label {
				@extend %titillium-regular;
				@include letterspacing(100);
				font-size: 16px;
				line-height: 30px;
				color: $primaryGrayColor;
				cursor: pointer;

				em {
					display: block;
					font-size: 12px;
					line-height: 18px;
				}
			}

			input[type=radio] {
				@extend %visuallyhidden;

				&:checked + label, &:hover + label {
					.circle {
						background-color: $primaryColor;
						border-color: $primaryColor;
					}
				}
			}
		}
	}

	.filter-query-group {
		width: 260px;
		height: 50px;
		float: left;

		.input-group-addon {
			color: $primaryColor;
			background: none;
			border-right: none;
		}

		.form-control {
			padding-left: 0;
			height: 50px;

			@extend %titillium-regular;
			@include letterspacing(100);
			font-size: 16px;

			border-left: none;
			box-shadow: none;

			&:focus {
				border-color: $primaryGrayColor;
			}
		}
	}

	.btn-primary {
		width: 120px;
		height: 50px;
		float: left;
		margin-left: 8px;
		@extend %titillium-regular;
		@include letterspacing(100);
		font-size: 16px;
	}

	p {
		@extend %titillium-regular;
		@include letterspacing(100);
		font-size: 12px;
		color: $primaryGrayColor;
	}

}