

header {
	height: 88px;
	margin-top: 44px;
	margin-bottom: 78px;

	.logo {
		display: block;
		width: 140px;
		height: 88px;
		float: left;
		background: no-repeat url(../img/logo-nav.png);

		// Hide text
		text-indent: 100%;
		white-space: nowrap;
		overflow: hidden;
	}

	nav {
		float: right;
		margin-top: 7px;

		ul {
			list-style: none;
			padding: 0;
			line-height: 88px;

			li {
				display: inline-block;
				margin-right: 38px;

				// Button hover
				&.btn.active, &.btn a:hover {
					color: #FFF;
					border-bottom: none;
				}

				// Regular menu item hover
				&.active a, a:hover {
					color: $primaryColor;
					border-bottom: 3px solid $secondaryColor;
					text-decoration: none;
				}

				// Button
				&.btn {
					border: none !important;
					padding: 16px 41px;
					margin-right: 21px;

					a {
						color: #FFF;
					}
				}

				// Regular menu item
				a {
					@extend %titillium-regular;
					@include letterspacing(100);
					font-size: 16px;
					line-height: 18px;
					color: $primaryColor;
				}
			}
		}
	}
}