<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ElectionDesk</title>

  <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,600,400italic" rel="stylesheet" type="text/css">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body ng-app="electiondeskStream" ng-controller="StreamController">

<div class="container">
  <header>
    <a class="logo" href="/">ElectionDesk</a>

    <nav>
      <ul>
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Conversations</a></li>
        <li><a href="#">Voters</a></li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Logout</a></li>
        <li class="btn btn-primary"><a href="#">Post</a></li>
      </ul>
    </nav>
  </header>

  <section id="topics">
    <ul>
      <li>
        <input type="checkbox" id="topic_wait_time" checked>
        <label class="btn btn-default" for="topic_wait_time">Wait Time</label>
      </li>
      <li>
        <input type="checkbox" id="topic_polling_location" checked>
        <label class="btn btn-default" for="topic_polling_location">Polling Location</label>
      </li>
      <li>
        <input type="checkbox" id="topic_adm_issues">
        <label class="btn btn-default" for="topic_adm_issues">Adm. Issues</label>
      </li>
      <li>
        <input type="checkbox" id="topic_pr_issues">
        <label class="btn btn-default" for="topic_pr_issues">PR Issues</label>
      </li>
      <li>
        <input type="checkbox" id="topic_voter_id">
        <label class="btn btn-default" for="topic_voter_id">Voter id</label>
      </li>
    </ul>
  </section>

  <section id="feeds">
    <h3>Toggle Feeds:</h3>

    <div class="btn-group">
      <button type="button" class="btn btn-default">
        <input type="checkbox" id="feed_twitter" ng-model="sourceQuery.twitter" checked>
        <label for="feed_twitter"><i class="fa fa-twitter"></i></label>
      </button>
      <button type="button" class="btn btn-default">
        <input type="checkbox" id="feed_facebook" ng-model="sourceQuery.facebook" checked>
        <label for="feed_facebook"><i class="fa fa-facebook"></i></label>
      </button>
      <button type="button" class="btn btn-default">
        <input type="checkbox" id="feed_googleplus" ng-model="sourceQuery.googleplus" checked>
        <label for="feed_googleplus"><i class="fa fa-google-plus"></i></label>
      </button>
      <button type="button" class="btn btn-default">
        <input type="checkbox" id="feed_wordpress" ng-model="sourceQuery.wordpress" checked>
        <label for="feed_wordpress"><i class="fa fa-wordpress"></i></label>
      </button>
      <button type="button" class="btn btn-default">
        <input type="checkbox" id="feed_disqus" ng-model="sourceQuery.disqus" checked>
        <label for="feed_disqus"><i class="icon-disqus-social"></i></label>
      </button>
    </div>

    <button type="button" class="btn btn-default btn-playpause">
      <input type="checkbox" id="feed_paused">
      <label for="feed_paused"><i class="fa fa-pause"></i></label>
    </button>

    <button type="button" class="btn btn-warning">Bookmarks</button>
  </section>

  <section id="stream">
    <!--
    <ul>
      <li class="entry twitter">
        <img src="https://pbs.twimg.com/profile_images/494922173816270848/yfkE46j6_normal.jpeg" alt="awesome cakes" class="profile-pic">
        <time datetime="">2s ago</time>
        <a href="http://twitter.com/awesomecakes3/status/512324275316199425" target="_blank">@awesomecakes3</a>
        <p>RT @GwenHardy: Wait, if it's a yes vote do scottish residents still get to compete in #gbbo??</p>

        <a href="#" class="expand">Expand</a>
        <ul class="actions">
          <li class="follow"><a href="#"><i class="fa fa-plus-circle"></i> Follow</a></li>
          <li class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
          <li class="retweet"><a href="#"><i class="fa fa-retweet"></i> Retweet</a></li>
          <li class="bookmark"><a href="#"><i class="fa fa-star"></i> Bookmark</a></li>
        </ul>
      </li>
    </ul>
    -->

    <ul>
      <li ng-repeat="interaction in interactions | sourcefilter:sourceQuery | orderByCreated | limitTo:50" class="entry {{ interaction.interaction.type }}" data-messageid="{{ interaction._id.$id }}">
        <div ng-switch="interaction.interaction.type">
          <!-- Twitter -->
          <div ng-switch-when="twitter">
            <img ng-src="{{ interaction.twitter.user.profile_image_url_https }}" alt="{{ interaction.twitter.user.name }}" class="profile-picture">
            <time class="relative" datetime="{{ (interaction.interaction.created_at.sec * 1000) | date:'yyyy-MM-dd HH:mm:ss' }}"></time>
            <a ng-href="{{ interaction.interaction.link }}" target="_blank" class="target-link">@{{ interaction.interaction.author.username }}</a>
            <p>{{ interaction.twitter.text }}</p>

            <a href="#" class="expand">Expand</a>
            <ul class="actions">
              <li class="follow"><a href="#"><i class="fa fa-twitter"></i> Follow</a></li>
              <li class="reply"><a href="#"><i class="fa fa-reply"></i> Reply</a></li>
              <li class="retweet"><a href="#"><i class="fa fa-retweet"></i> Retweet</a></li>
              <li class="bookmark"><a href="#"><i class="fa fa-star"></i> Bookmark</a></li>
            </ul>
          </div>
          <!-- Facebook -->
          <div ng-switch-when="facebook">
            <img ng-src="https://graph.facebook.com/picture?id={{ interaction.facebook.from.id }}" alt="{{ interaction.facebook.from.name }}" class="profile-picture">
            <time class="relative" datetime="{{ (interaction.interaction.created_at.sec * 1000) | date:'yyyy-MM-dd HH:mm:ss' }}"></time>
            <a ng-href="http://facebook.com/profile.php?id={{ interaction.facebook.from.id }}" target="_blank" class="target-link">{{ interaction.facebook.from.name }}</a>
            <p>{{ (interaction.facebook.message.length > 0) ? interaction.facebook.message : interaction.facebook.story | limitTo:140 }}</p>

            <a href="#" class="expand">Expand</a>
            <ul class="actions">
              <li class="bookmark"><a href="#"><i class="fa fa-star"></i> Bookmark</a></li>
            </ul>
          </div>
          <!-- Wordpress -->
          <div ng-switch-when="wordpress">
            <img  ng-src="{{ interaction.interaction.author.avatar }}" alt="{{ interaction.interaction.author.name }}" class="profile-picture">
            <time class="relative" datetime="{{ (interaction.interaction.created_at.sec * 1000) | date:'yyyy-MM-dd HH:mm:ss' }}"></time>
            <a ng-href="{{ interaction.interaction.link }}" target="_blank" class="target-link">{{ interaction.interaction.author.name }}</a>
            <p>{{ interaction.interaction.content | limitTo:140 }}</p>

            <a href="#" class="expand">Expand</a>
            <ul class="actions">
              <li class="bookmark"><a href="#"><i class="fa fa-star"></i> Bookmark</a></li>
            </ul>
          </div>
          <div ng-switch-default>Default</div>
        </div>
      </li>
    </ul>
  </section>

  <section id="filters">
    <h3>Limit Stream by Location or Distance</h3>

    <ul class="limit-options">
      <li>
        <input type="radio" name="limit" id="limit_all_posts" checked>
        <label for="limit_all_posts"><i class="circle"></i> All posts</label>
      </li>
      
      <li>
        <input type="radio" name="limit" id="limit_state">
        <label for="limit_state"><i class="circle"></i> Within Washington DC</label>
      </li>
      
      <li>
        <input type="radio" name="limit" id="limit_radius">
        <label for="limit_radius"><i class="circle"></i> Within radius</label>
      </li>
      
      <li>
        <input type="radio" name="limit" id="limit_custom">
        <label for="limit_custom">
          <i class="circle"></i> Within custom area
          <em>You can define a custom area on the <a href="#">area settings</a> page.</em>
        </label>
      </li>
    </ul>

    <h3>Filters</h3>
    <div class="form-group filter-query-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" id="filter-query" name="" class="form-control" placeholder="Filter the current stream">
      </div>
    </div>

    <button type="button" class="btn btn-primary">Apply</button>

    <div class="clearfix"></div>

    <p><em>You can use AND/OR operators as well as parenthesis.<br />
Ex., ballot OR (vote AND "turned away")</em></p>

  </section>  
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.0/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.0.0/moment.min.js"></script>
<script src="http://electiondesk.local:4242/socket.io/socket.io.js"></script>
<script src="/assets/js/script.js"></script>

</body>
</html>
